* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #000c20;
  color: #eef5ff;
}

body, html {
  width: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px; 
}

header{
  padding: 10px 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img{
  max-width: 100px;
}

.navbar .social-media img{
  max-width: 22px;
}

/* Hero Section */
.hero {
  height: calc(100vh - 90px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .content h1 {
  font-size: 60px;
  line-height: 68px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #eef5ff;
}

.hero .content p {
  font-size: 16px;
  line-height: 24px;
  color: #b9b9b9;
  margin-bottom: 40px;
}

.hero .content .buttons .btn {
  padding: 0.6em 2em;
  text-decoration: none;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  user-select: none;
  touch-action: manipulation;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.hero .content .buttons .btn:before {
  content: "";
  background: linear-gradient(45deg, #e4e4e4, #f4f4f4, #d1d79e, #92d6c7, #82a7c9, #4c6e99, #6f6f6f, #a87f99, #c77e6e);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.hero .content .buttons .btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 50px;
}

.hero .content .buttons .btn:hover {
  animation: glowing-button 20s linear infinite;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.hero .content .buttons .btn .hire-button {
  background: transparent;
  padding: 14px 40px;
  border-radius: 50px;
  border: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.hero .content .buttons .btn .hire-button:hover {
  background: transparent;
  animation: glowing-button 20s linear infinite;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.hero .content .buttons .btn i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.hero .content .buttons .btn:focus {
  outline: none;
  border: 2px solid #ff6f61;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.7);
}

/* Scroll Button Styles */
#section10 {
  position: absolute; 
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%); 
}

#section10 a {
  padding-top: 60px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

/* Keyframe Animation for Scroll Effect */
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* Portfolio Section */
.portfolio {
  padding: 60px 0;
  text-align: center;
}

.portfolio h2 {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 48px;
}

.portfolio p {
  font-size: 16px;
  margin-bottom: 40px;
  color: #b9b9b9;
}

.portfolio .portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px);
}

.portfolio .portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio .portfolio-overlay .view-button{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio .portfolio-item:hover .portfolio-overlay .view-button{
  opacity: 1;
}

.portfolio .portfolio-overlay .view-button {
  font-size: 1rem;
  color: #eef5ff;
  text-decoration: none;
}

/* Responsive Styles */

/* For Tablets */
@media (max-width: 980px) {
  .hero .content h1 {
    font-size: 40px;
  }

  .hero .content p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .hero .content .buttons .btn .hire-button {
    padding: 12px 30px;
  }
}

/* For Mobile */
@media (max-width: 767px) {
  .navbar img{
    max-width: 90px;
  }

  .hero .content h1 {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 15px;
  }

  .hero .content p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .hero .content .buttons .btn .hire-button {
    padding: 10px 25px;
  }
  
  .portfolio h2{
    font-size: 28px;
    line-height: 32px;
  }
  
  .portfolio p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .portfolio .portfolio-grid{    
    margin-top: 10px;
  }
  
  .portfolio .portfolio-item{
    width: 100%;
  }
}
